<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Virtual Library</title>
</head>
<body>

<div id=="main">
	<form>
		<table>	
			<tr>
				<td>Name: </td>
				<td><input type="text" id="name" /></td>
			</tr>
			<tr>
				<td>Oberkategorie: </td>
				<td>
					<select>
						<option>- Keine -</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Eigenschaften: </td>
				<td>
					<table>
						<tr>
							<td>Name</td>
							<td>Type</td>
							<td>Einheit</td>
							<td>Priorität</td>
							<td></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td><input type="submit" value=""/></td>
			</tr>
		</table>
	</form>
</div>

</body>
</html>

